* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav {
	background:white;
	height: 80px;
	width: 100%;
	padding-left: 50px;
}
.logo {
	
	height: 100%;
	width: max-content;
	align-items: center;
	display: flex;
}
.logo img{
	height: 60%;

}
nav ul {
	float: right;
	margin-right: 50px;
}
nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a {
	color: black;
	font-size: 12px; 
	font-weight: bold;
	padding: 7px 13px; 
	border-radius: 3px;
}
a.active, a:hover {
	/* background: #E76E2F; */
	transition: .5s;
	color: #E76E2F;
}
.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check {
	display: none;
}
.banner{
	background-image: url(images/barber-2165745.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/* position: relative; */
	height: 640px;
	width: 100%;
}
.banner img{
	opacity: 0.85;
	width: 	100%;
	height: 640px;
}
.product-banners-mobile{
	display: none;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	/* position: relative; */
	z-index: 1;
	/* height: 400px; */
}
.centered-element {
	margin: 0;
	position: absolute;
	top: 35%;
	left: 15%;
	right: 15%;
	color: white;
	text-align: center;
	justify-content: center;
	transform: translateY(-50%, -50%);
	z-index: 1;
}
.centered-element h1{
	font-size: 70px;
	width: 50%;
}
.text-center {
	display: flex;
	justify-content: center;
}
.centered-element button{
	color: white;
	background-color: #E76E2F;
	border-radius: 15px;
	border: 0px;
	padding: 20px;
	margin-top: 10px;
	cursor: pointer;
	font-weight: bold;
}
.centered-element p{
	font-size: 25px;
}
.bannercontainer{
	background-image: url(images/Copy\ of\ NEW\ PRODUCTS\ \(10\).png);
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 10px;
	padding-bottom: 20px;
}
.bannercontainer1{
	background-image: url(images/sl_013020_27540_26.jpg);
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 10px;

	background-position: bottom;
}
.bannercontainer2{
	background-image: url(images/Shaving\ soap.png);
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 10px;
	background-position: bottom;
}
.bannercontainer3{
	background-image: url(images/After\ shave\ toner.png);
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 10px;
	background-position: bottom;
}
.bannercontainer4{
	background-image: url(images/Beard\ care.png);
	height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 10px;
	background-position: bottom;
}


.product-images img{
	border-radius: 100%;
	border: 0px;
	width: 20%;
	margin-top: 100px;
	margin-bottom: 10px;
}
.product-images{
	display: flex;
	justify-content: space-around;
	/* top: 50%; */	
}
.product-buttons{
	display: flex;
	justify-content: space-around;
	/* top: 50%; */	
}
.product-buttons button {
	color: white;
	background-color: #E76E2F;
	border-radius: 15px;
	border: 0px;
	padding: 20px;
	margin-top: 20px;
	cursor: pointer;
	font-weight: bold;
	width: 120px;
}
.image1{
	position: relative;
}

.about-section{
	padding: 20px;
    display: flex;
    justify-content: center;
    background-image: url(images/lucas-kapla-GAM-7l4QzmI-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	margin-top: 10px;
}
.section-heading {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}
.section-text h2{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}
.section-text p{
    display: flex;
    justify-content: center;
    text-align: center;
}
.section-text1, .section-text2, .section-text3{
    width: 50%;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}
.section-text2{
    margin-left: 20px;
    margin-right: 20px;
}
.section-text{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.sections-wrapper {
    width: 100%;
}
.footer {
    display: flex;
    justify-content: space-between;
}
.footer-section {
    color: white;
    padding: 50px;
    background-color: black;
	height: 300px;
}
.logo-footer img{
    width: 80px;
}
.contact-us {
    display: block;
}
.social-icons{
	margin-top: 20px;
}
#contact-us, #policies{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 952px){
	.logo{
		padding-left: 5px;
	}
	nav{
		padding-left: 5px;
	}
	nav ul li a{
		font-size: 16px;
	}
	.centered-element {
		margin: 0;
		position: absolute;
		/* top: 25%; */
		left: 15%;
		right: 15%;
		color: white;
		text-align: center;
		justify-content: center;
		transform: translateY(-50%, -50%);
		z-index: 1;
	}
	.centered-element h1{
		font-size: 70px;
		width: auto;
	}
	.product-buttons button {
		padding: 20px;
		margin-top: 20px;
		cursor: pointer;
		font-weight: bold;
		width: 120px;
	}

	.section-text{
        display: block;
        margin: 0px;
    }
    .section-text2{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .about-section{
        display: flex;
        justify-content: center;
    }
    .section-text-wrapper {
        display: flex;
        justify-content: center;
    }
    .section-text1, .section-text2, .section-text3{
        border: 0px solid black;
        border-radius: 0px;
        width: auto;
        padding: 0px;
    }
	
}
@media (max-width: 858px){
	.checkbtn {
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #E76E2F;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a {
		font-size: 20px;
	}
	a:hover, a.active {
		background: none;
		color: #E76E2F;
	}
	#check:checked ~ ul {
		left: 0;
	}
	.footer {
        display: block;
        justify-content: space-between;
    }
    .contact-us{
        margin-top: 50px;
    }
    .policies {
        margin-top: 50px;
    }
    .copyright p{
        font-weight: bold;
    }
	.centered-element {
		margin: 0;
		position: absolute;
		top: 50%;
		left: 15%;
		right: 15%;
		color: white;
		text-align: center;
		justify-content: center;
		transform: translateY(-50%, -50%);
		z-index: 1;
	}
	.centered-element h1{
		font-size: 60px;
		width: auto;
	}


	.product-images img{
		border-radius: 100%;
		border: 0px;
		width: 30%;
		margin-top: 100px;
		margin-bottom: 10px;
	}
	.product-images{
		display: flex;
		justify-content: space-around;
		/* top: 50%; */	
	}
	.product-buttons{
		display: flex;
		justify-content: space-around;
		/* top: 50%; */	
	}
	.product-buttons button {
		color: white;
		background-color: #E76E2F;
		border-radius: 15px;
		border: 0px;
		padding: 20px;
		margin-top: 20px;
		cursor: pointer;
		font-weight: bold;
		width: 120px;
	}
	

}
@media (max-width: 534px){
	.centered-element h1{
		font-size: 40px;
		width: auto;
	}
	.banner{
		height: 500px;
		width: 100%;
	}
	.banner img{
		opacity: 0.85;
		width: 	100%;
		height: 500px;
	}
	.centered-element p{
		font-size: 20px;
	}
	.product-banners-mobile{
		display: block;
	}
	.product-banners{
		display: none;
	}
	.bannercontainer{
		display: block;
		height: 530px;
		/* padding: 50px; */
		background-image: url(images/Copy\ of\ NEW\ PRODUCTS\ \(10\).png);
		background-size: cover;
		background-repeat: no-repeat;
		padding-top: 40px;
	}
	.bannercontainer1{
		display: block;
		height: 530px;
		/* padding: 50px; */
		background-image: url(images/sl_013020_27540_26.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		padding-top: 40px;
	}
	.bannercontainer2{
		display: block;
		height: 530px;
		/* padding: 50px; */
		background-image: url(images/Shaving\ soap.png);
		background-size: cover;
		background-repeat: no-repeat;
		padding-top: 40px;
	}
	.bannercontainer3{
		display: block;
		height: 530px;
		/* padding: 50px; */
		background-image: url(images/After\ shave\ toner.png);
		background-size: cover;
		background-repeat: no-repeat;
		padding-top: 40px;
	}
	.bannercontainer4{
		display: block;
		height: 530px;
		/* padding: 50px; */
		background-image: url(images/Beard\ care.png);
		background-size: cover;
		background-repeat: no-repeat;
		padding-top: 40px;
	}

	.product-images {
		display: block;
		height: 500px;
	}
	.product-images img {
		border-radius: 100%;
		/* border: 0px; */
		margin-top: 10px;
		margin-bottom: 0px;
		width: 20%;
		/* margin-bottom: 10px; */
		display: block;
	}
	.image1{
		display: flex;
		justify-content: center;
	}
	.image2{
		display: flex;
		justify-content: center;

	}
	.bttn1, .bttn2{
		display: flex;
		justify-content: center;
	}
	.product1{

	}
	.product2{
		margin-top: 40px;
	}
	.bttn1 button, .bttn2 button {
		color: white;
		background-color: #E76E2F;
		border-radius: 15px;
		border: 0px;
		padding: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
		cursor: pointer;
		font-weight: bold;
		width: 120px;
	}

	
}
@media (max-width: 380px){
	.centered-element h1{
		font-size: 35px;
		width: auto;
	}
	.centered-element p{
		font-size: 18px;
	}
}